/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: fade;
  src: url("../fonts/fade.ttf");
}

/* line 13, ../sass/screen.scss */
canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}

/* line 18, ../sass/screen.scss */
#cursor {
  background-image: url("../images/crosshair.png");
  height: 50px;
  width: 50px;
  position: absolute;
  z-index: 500;
  pointer-events: none;
}

/* line 27, ../sass/screen.scss */
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* line 33, ../sass/screen.scss */
body {
  height: 100%;
  width: 100%;
  background: black;
}
/* line 38, ../sass/screen.scss */
body .backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  height: 100%;
  width: 100%;
}
/* line 48, ../sass/screen.scss */
body #introBackground {
  background: url("../images/intro_bg.jpg");
  background-size: cover;
}
/* line 54, ../sass/screen.scss */
body #mainTitle {
  text-align: center;
  color: #a5a5a5;
  font-family: "fade";
  font-size: 60px;
  position: absolute;
  top: 60%;
  width: 100%;
}
/* line 64, ../sass/screen.scss */
body #startGame {
  position: absolute;
  top: 70%;
  left: 50%;
}
/* line 69, ../sass/screen.scss */
body #game {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: -900;
  cursor: none;
}
/* line 79, ../sass/screen.scss */
body #hud {
  color: white;
  z-index: 1000;
  left: 0;
  top: 30px;
  position: absolute;
}

/* line 91, ../sass/screen.scss */
*.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}
